*.egg-info/*
build/*
utils/__pycache__/*
models/__pycache__/*
cpp_wrappers/cpp_neighbors/build/*
cpp_wrappers/cpp_subsampling/build/*
lca_kpconv.egg-info/*
datasets/__pycache__/*
kernels/__pycache__/*
utils/__pycache__/*
models/__pycache__/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.so
